@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* not found page */

.not_found {
  background-color: blueviolet;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.not_found_text {
  padding-top: 5%;
}
.not_found_text > h1 {
  color: brown;
  font-weight: bold;
  font-size: 250px;
}
.not_found_text > h2 {
  color: white;
  font-size: 100px;
}

/* sidebar */
.sidebar {
  overflow: auto;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebar_title {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  margin: 1.1rem 0 1rem 0;
}

/* login-page-start */

.login-bg {
  background-image: radial-gradient(125% 125% at 50% 90%, #ffffff 40%, #14b8a6 100%);
  background-size: 100% 100%;
}

/* login-page-end */
